{% extends 'base.html' %}

{% block title %}Настройки {{ app_name }}{% endblock %}
{% block content %}
  <div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
      {% for activity in activities %}
        <div class="col mb-2 d-flex align-items-stretch">
          <div class="card p-2">
            <div class="card-header fw-bold">
              {{ activity.name }}
            </div>
            <div class="card-body">
              <p>{{ activity.description }}</p>
              {% if activity.code in activities_installed %}
                <div class="alert alert-success" id="div-install-{{ activity.code }}">Установлено</div>
                <div class="alert alert-danger" id="div-uninstall-{{ activity.code }}" hidden>Не установлено</div>
              {% else %}
                <div class="alert alert-success" id="div-install-{{ activity.code }}" hidden>Установлено</div>
                <div class="alert alert-danger" id="div-uninstall-{{ activity.code }}">Не установлено</div>
              {% endif %}
            </div>
            <div class="card-footer">
              <button class="btn btn-success" onclick="installActivity('{{ activity.code }}')">Установить</button>
              <button class="btn btn-danger" onclick="uninstallActivity('{{ activity.code }}')">Удалить</button>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="row row-cols-1 mt-3">
      <div class="col card">
        <div class="card-header fw-bold">
          Настройки приложения
        </div>
        <div class="card-body">
          {% load user_filters %}
          {% if form.errors %}
            {% for field in form %}
              {% for error in field.errors %}
                <div class="alert alert-danger">
                  {{ field.label }} {{ error|escape }}
                </div>
              {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                {{ error|escape }}
              </div>
            {% endfor %}
          {% endif %}

          <form method="post" action="{% url 'settings:index' %}">
            {% csrf_token %}

            {% for field in form %}
              <div class="form-group row mt-2"
                {% if field.field.required %}
                  aria-required="true"
                {% else %}
                  aria-required="false"
                {% endif %}
              >
                <label class="fw-bold" for="{{ field.id_for_label }}">
                  {{ field.label }}
                    {% if field.field.required %}
                      <span class="required text-danger">*</span>
                    {% endif %}
                </label>
                {% if field|widgettype == 'CheckboxInput' %}
                  <div class="form-check form-switch mt-1">
                    {{ field|addclass:'form-check-input' }}
                  </div>
                {% else %}
                  {{ field|addclass:'form-control' }}
                {% endif %}
              </div>
              <div>
                {% if field.help_text %}
                  <small
                          id="{{ field.id_for_label }}-help"
                          class="form-text text-muted"
                  >
                    {{ field.help_text|safe }}
                  </small>
                {% endif %}
              </div>
            {% endfor %}
            <div class="d-flex justify-content-end mt-2">
              <input type="text" name='member_id' value="{{ member_id }}" hidden>
              <input type="submit" class="btn btn-outline-success" name="save-settings" value="Сохранить">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block user_scripts %}
  <script>
    function installActivity(code) {
        let div_install = document.getElementById('div-install-' + code);
        let div_uninstall = document.getElementById('div-uninstall-' + code);
        $.ajax({
            url: "{% url 'activities:install' %}",
            type: "POST",
            data: {code: code, member_id: "{{ member_id }}"},
        })
            .done(function (response) {
                if (response.result === true) {
                    alert('Активити успешно установлено на портал');
                    div_uninstall.hidden = true;
                    div_install.hidden = false;
                }
                else {
                    alert('Установка активити завершилась неудачно. Ошибка: ' + response.error_name + ' Описание ошибки: ' + response.error_description);
                }
            })
            .fail(function () {
                alert('Установка активити завершилось неудачно. Неизвестный тип ошибки');
            });
    }
    function uninstallActivity(code) {
        let div_install = document.getElementById('div-install-' + code);
        let div_uninstall = document.getElementById('div-uninstall-' + code);
        $.ajax({
            url: "{% url 'activities:uninstall' %}",
            type: "POST",
            data: {code: code, member_id: "{{ member_id }}"},
        })
            .done(function (response) {
                if (response.result === true) {
                    alert('Активити успешно удалено с портала');
                    div_uninstall.hidden = false;
                    div_install.hidden = true;
                }
                else {
                    alert('Удаление активити завершилось неудачно. Ошибка: ' + response.error_name + ' Описание ошибки: ' + response.error_description);
                }
            })
            .fail(function () {
                alert('Удаление активити завершилось неудачно. Неизвестный тип ошибки');
            });
    }
  </script>
{% endblock %}
